.container {
  @include container;
  @include fluid(margin-top, 40px, 60px);
  @include fluid(margin-bottom, 40px, 60px);
}

.title {
  @include fluid(font-size, 24px, 32px);
  @include fluid(margin-bottom, 20px, 40px);
  font-weight: bold;
  text-align: center;
}

.image1 {
  position: absolute;
  top: 30%;
  left: 0%;
  right: 0;

  @media screen and (max-width: $breakpoint-md) {
    top: 20%;
    width: 100px;
    height: 100px;
  }
}
.image2 {
  position: absolute;
  top: 50%;
  left: 80%;
  right: 0;

  @media screen and (max-width: $breakpoint-md) {
    top: 50%;
    width: 100px;
    height: 100px;
  }
}
.image3 {
  position: absolute;
  top: 0%;
  left: 60%;
  right: 0;

  @media screen and (max-width: $breakpoint-md) {
    top: -5%;
    left: 80%;
    width: 100px;
    height: 100px;
  }
}
.image4 {
  position: absolute;
  top: 60%;
  left: 30%;
  right: 0;

  @media screen and (max-width: $breakpoint-md) {
    left: 10%;
    top: 70%;
    width: 100px;
    height: 100px;
  }
}
